body{
    background-color: grey;
}
main{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.center{
    display: flex;
    flex-direction: column;
}
#bottom{
    align-self: center;
    display: flex;
    flex-direction: row;
}

.slider::-moz-range-thumb{
    width: 15px;
    height: 15px;
    background-color: red;
}